<div class="gap-space">
</div>
<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <h2><a [routerLink]="['home']" class="footer-brand">SWA </a></h2>
      <p>Todos os direitos reservados- CNPJ: 97.535.686/0001-57 / Endereço: Rua Martins Fontes, 91 - Conj 12 - Centro - São Paulo - SP, Brasil
        Nosso horário de atendimento (exceto feriados): segunda à sexta das 9h às 18h30, sábados das 9h às 13h
        Telefone de atendimento: (11) 3583-9000
      </p>
      <p>© 2018 - Williame Figueiredo</p>
    </div>
    <div class="col-md-3 footer-nav animated fadeInUp">
      <h4>Menu</h4>
      <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Termos de Uso</a></li>
        <li><a href="#">Política de Privacidade</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-social animated fadeInDown">
      <h4>Siga-nos</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">RSS</a></li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Newsletter</h4>
      <p>Inscreva-se</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="seu e-mail">
        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-envelope"></span>
        </button>
        </span>
      </div>
    </div>
  </div>
</footer>